PORT=3001
MONGODB_URI=mongodb+srv://<db-user>:<db-password>@<cluster-host>/?retryWrites=true&w=majority
MONGODB_DB_NAME=online_quiz
CORS_ORIGIN=http://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=sachin626425@gmail.com
SMTP_PASS=rzwutpyapyofeqjh
SMTP_FROM=sachin626425@gmail.com
SMTP_FORCE_IPV4=true
